        </div><!-- end full-length -->
        <footer>
            <h4 id="footer">Made with ❤️ by the SRMS Team</h4>
            <p id="cpyrht">&copy; Owned by SRMAP University</p>
        </footer>
    </div><!-- end wrapper -->
</body>
</html>